html {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

@media (min-width: 960px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 960px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 60%;
  }
}
